.main ul {
  padding: 0;
  list-style: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 10px 20px;
}

.line {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.line span {
  margin-left: 12px;
}

.line .index {
  font-weight: bold;
  color: red;
  width: 20px;
}

.line .word {
  min-width: 100px;
}

.btnWrapper {
  display: flex;
}

.btnWrapper .switch {
  margin-right: 12px;
}

.remeber {
  color: green !important;
}
